<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMwHuHYzdkxSvQkQTzS_hKEcgg5lqL_ok</string>
	<key>GCM_SENDER_ID</key>
	<string>364108525373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomCloneApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-app-3b047</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-app-3b047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364108525373:ios:b6a25af294ade7f0fa1f54</string>
</dict>
</plist>